@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
th {
  text-transform: uppercase;
  
}
tr:nth-child(odd){
  background-color: #e8900c;
}
tr:hover{
  background-color: #eb7644;
  
}
tr.top:hover{
  background-color: #eb7644;
  
}
tr.top{
  background-color: #e8900c; 
}

a{
  color:#ffbb0f;
}
em{
  background-color: #eb7664;
}
#the_most_important{
  text-transform: uppercase;
  background-color: #ff2403;
}
h1{
  font-family: "ubuntu";
  text-transform: capitalize;
}
p.x_large::first-letter{
  font-size: x-large;
}

li{
 display: inline-block;
 padding: 0px 10px;
 
 
}
a{
  text-decoration: none;
}
a.order_link{
  text-decoration: underline;
  
}
a.order_link:hover{
  cursor:default;
}
a.rate_link:hover{
  cursor:default;
}
a.contact_link:hover{
  cursor:default;
}

::selection {
  background: #ff7300;
}

a:hover{
  cursor: pointer;
}
input{
  height: 20px;
}
input[type=text]{
  border-color: gray;
}
#rate{
  height: 50px;
}